@use '../abstracts/variables' as *;

.btn {
    &:hover {
        transform: translateY(-2px);
    }

    &:focus {
        transform: translateY(0);
    }
}

.btn-group,
.btn-group-vertical {
    & > .btn {
        box-shadow: none;
        transform: none;
    }
}