@use '../abstracts/variables' as *;

.btn {
    &:hover {
        box-shadow: 0 12px 16px 1px rgb($primary-color, .3);
        transform: translateY(-2px);
    }
}

.btn-group,
.btn-group-vertical {
    & > .btn:hover {
        box-shadow: none;
        transform: none;
    }
}