@use '../abstracts/variables' as *;
/* .card-header {
    background-color: transparent;
    border-bottom: 0;
}

.card-footer {
    background-color: transparent;
    border-top: 0;
} */

.card {
    border: none;
    transition: all $transSpeed $transTimingFunc;

    /* &:hover,
    &:focus {
        transform: translateY(-1rem);
    } */

    &.card-shadow {
        box-shadow: 0 0.5rem 1.7rem 0.5rem rgba($dark-color, .1);
        
        &:hover,
        &:focus {
            box-shadow: 0 1rem 1.3rem 0.5rem rgba($dark-color, .15);
        }
    }

    .card-link a,
    .card-link .btn-link {
        padding: 0;
        text-decoration: none;
        color: inherit;
        transform: none;

        &::after {
            content: "";
            width: 0;
            height: 1px;
            display: block;
            background-color: $dark-color;
            transition: width $transSpeed $transTimingFunc;
        }

        &:hover::after,
        &:focus::after {
            width: 100%;
        }
    }

    .card-image {
        padding: 3rem 0;
        border-radius: $br-sm;
    }

    &.card-testimonial {
        font-family: $secondary-font;
        box-shadow: 4px 4px 40px 2px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        position: relative;
        overflow: hidden;

        .card-body {
            z-index: 1;
        }

        .card-title,
        .card-subtitle {
            font-family: inherit;
        }

        .card-subtitle {
            font-weight: 400;
        }

        .card-shape {
            position: absolute;
            /* width: 213.96px;
            height: 316.08px; */
            left: -0.6rem;
            top: -2.7rem;
        }
    }

    .card-profile {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin: 0 auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.card-record-wrap {
    display: grid;
    grid-template-columns: repeat(3, 14rem);
    justify-content: center;
    grid-column-gap: 8%;
}

.card-record {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.card-record__numb {
    font-size: 4rem;
    line-height: 1;
    font-family: $secondary-font;
}

.card-record__text {
    font-size: 1rem;
    line-height: 1;
    margin-left: 0.7rem;
    margin-bottom: 0.7rem;
    
    span {
        display: block;
        margin-top: 0.3rem;
    }
}

.card-record__shape {
    position: absolute;
    top: -1.2rem;
    left: 0;
    z-index: -1;
    width: 7rem;
}