@use '../abstracts/variables' as *;
/* .card-header {
    background-color: transparent;
    border-bottom: 0;
}

.card-footer {
    background-color: transparent;
    border-top: 0;
} */

.card {
    border: none;
    transition: all $transSpeed $transTimingFunc;

    /* &:hover,
    &:focus {
        transform: translateY(-1rem);
    } */

    &.card-shadow {
        box-shadow: 0 0.5rem 1.7rem 0.5rem rgba($dark-color, .1);
        
        &:hover,
        &:focus {
            box-shadow: 0 1rem 1.3rem 0.5rem rgba($dark-color, .15);
        }
    }

    .card-link a,
    .card-link .btn-link {
        padding: 0;
        text-decoration: none;
        color: inherit;
        transform: none;

        &::after {
            content: "";
            width: 0;
            height: 1px;
            display: block;
            background-color: $dark-color;
            transition: width $transSpeed $transTimingFunc;
        }

        &:hover::after,
        &:focus::after {
            width: 100%;
        }
    }

    .card-image {
        padding: 3rem 0;
        border-radius: $br-sm;
    }
}