// @use '../abstracts/variables' as *;

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

.glide__slides {
    padding: 3rem;
}

.glide__slide:not(.glide__slide--active) {
    .card-testimonial {
        transform: scale(.9);
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    }
}

#testimonials-glide {
    max-width: 75%;
    margin: 0 auto;

    @include media-breakpoint-up(lg) {
        max-width: 100%;
    }

    @include media-breakpoint-up(xl) {
        max-width: 80%;
    }

    @include media-breakpoint-up(xxl) {
        max-width: 70%;
    }
}