@use '../abstracts/variables' as *;

.polka-dot {
    width: 125px;
    height: 145px;
    background: radial-gradient(circle, $primary-color, #e5383500 25%);
    background-repeat: space;
    background-size: 12px 12px;
    position: absolute;
    z-index: 1000;
    transition: transform 1s, z-index 0.2s;
    bottom: 60%;
    right: -7%;
}

.polka-dot:hover {
    transform: perspective(500px) translate3d(1px, 1px, -100px);
    z-index: 1;
}