/* -------------------------------
Breakout class
-----------------
Use breakout class to extend element
outside a container
---------------------------------*/

/* -------------------------------
Full width breakout
---------------------------------*/
.breakout {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

/* left breakout */
.breakout-left {
    margin-left: calc(-50vw + 100%);
}

/* right breakout */
.breakout-right {
    margin-right: calc(-50vw + 100%);
}

.section-spacing {
    margin: 15rem 0;
}