/*=========================================
    THEME COLORS
=========================================*/

/* -------------------------------
Colors 
---------------------------------*/
/* $primary-color: #fe8742; */
$primary-color: #f44336;
$secondary-color: #1D64B3;
$success-color: #5A9C56;
$info-color: #27B9F2;
$warning-color: #F2BB16;
$danger-color: #D93B3B;
$dark-color: #000;
$white-color: #fff;
$black-color: #000;