/*=========================================
    THEME FONTS
=========================================*/

/* -------------------------------
Font family 
---------------------------------*/
$primary-font: 'Playfair Display', serif;
$secondary-font: 'Noto Sans', sans-serif;

/* -------------------------------
Font weight 
---------------------------------*/
$font-weight-100: 100;
$font-weight-200: 200;
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-800: 800;
$font-weight-900: 900;

/* -------------------------------
Font Sizes 
---------------------------------*/
$custom-font-sizes: (
    1: 0.65rem,
    2: 0.7rem,
    3: 0.8rem,
    4: 0.9rem,
    5: 1rem,
    6: 1.25rem,
    7: 1.5rem,
    8: 1.75rem,
    9: 2rem,
    10: 2.25rem,
    11: 2.5rem,
    12: 2.75rem,
    13: 3rem,
    14: 3.25rem,
    15: 3.5rem,
    16: 3.75rem,
    17: 4rem,
    18: 4.25rem,
    19: 4.5rem,
    20: 4.75rem,
    21: 5rem,
    22: 5.25rem,
    23: 5.5rem,
    24: 5.75rem,
    25: 6rem
);
