.breakout {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.breakout-left {
    margin-left: calc(-50vw + 100%);
}

.breakout-right {
    margin-right: calc(-50vw + 100%);
}